<div>
    <h2 id="page-heading">
        <span jhiTranslate="ciadminApp.cIRuleGroup.home.title">CI Rule Groups</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ci-rule-group" [routerLink]="['/ci-rule-group/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ciadminApp.cIRuleGroup.home.createLabel">
            Create a new CI Rule Group
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cIRuleGroups?.length === 0">
        <span jhiTranslate="ciadminApp.cIRuleGroup.home.notFound">No cIRuleGroups found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cIRuleGroups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ruleGroupName"><span jhiTranslate="ciadminApp.cIRuleGroup.ruleGroupName">Rule Group Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="critical"><span jhiTranslate="ciadminApp.cIRuleGroup.critical">Critical</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="ciadminApp.cIRuleGroup.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let cIRuleGroup of cIRuleGroups ;trackBy: trackId">
                    <td><a [routerLink]="['/ci-rule-group', cIRuleGroup.id, 'view']">{{ cIRuleGroup.id }}</a></td>
                    <td>{{ cIRuleGroup.ruleGroupName }}</td>
                    <td>{{ cIRuleGroup.critical }}</td>
                    <td>{{ cIRuleGroup.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ci-rule-group', cIRuleGroup.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/ci-rule-group', cIRuleGroup.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                                <button type="submit" (click)="delete(cIRuleGroup)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
