<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ci-rule-heading" jhiTranslate="ciadminApp.cIRule.home.createOrEditLabel">Create or edit a CI Rule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.ruleName" for="field_ruleName">Rule Name</label>
                    <input type="text" class="form-control" name="ruleName" id="field_ruleName"
                           formControlName="ruleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.critical" for="field_critical">Critical</label>
                    <input type="checkbox" class="form-control" name="critical" id="field_critical"
                           formControlName="critical"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.useInReport" for="field_useInReport">Use In Report</label>
                    <input type="checkbox" class="form-control" name="useInReport" id="field_useInReport"
                           formControlName="useInReport"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.useInMicroservice" for="field_useInMicroservice">Use In Microservice</label>
                    <input type="checkbox" class="form-control" name="useInMicroservice" id="field_useInMicroservice"
                           formControlName="useInMicroservice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" formControlName="modifyDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ciadminApp.cIRule.cIRuleGroup" for="field_cIRuleGroup">CI Rule Group</label>
                    <select class="form-control" id="field_cIRuleGroup" name="cIRuleGroup" formControlName="cIRuleGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cIRuleGroupOption.id" *ngFor="let cIRuleGroupOption of cirulegroups; trackBy: trackById">{{ cIRuleGroupOption.ruleGroupName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
